*:hover {
    user-select: none;
}

li::marker {
    font-size: 0;
}

.selected {
    color: rgb(89, 203, 255) !important;
}

li {
    transition: all .2s;
}

#showList li:hover {
    color: rgba(185, 185, 185, 0.5) !important;
    cursor: default;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vmax;
    height: 100rem;
    background: rgb(0, 0, 0, .5);
}

.hidden {
    transition: all .3s;
    opacity: 1;
}

.error {
    animation: light .3s ease-in-out;
}

@keyframes light {
    0% {
        color: rgba(31, 41, 55);
        background-color: rgba(254, 202, 202);
    }

    20% {
        color: rgb(236, 244, 255);
        background-color: rgb(255, 146, 146);
    }


    100% {
        color: rgba(31, 41, 55);
        background-color: rgba(254, 202, 202);
    }
}